main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main ul {
  margin: 0 auto;
}

form {
  margin: 0 auto;
}

form input,
form button {
  border: solid 1px black;
  padding: 10px;
}

.category-list li {
  text-align: center;
}

.category-list li button {
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
  margin-top: 15px;

}

.category-list li button:hover {
  color: green;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  margin-top: 10px;
}

.trash-button {
  padding-right: 10px;
}

.trash-button img {
  width: 20px;
  height: 20px;
  transition: 200ms;
}

.trash-button:hover img {
  width: 35px;
  height: 35px;
}

/*/ task-item/*/
.task-item {
  font-size: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.belive-points {
  font-size: 24px;
  text-align: center;
}